.header{
    position: relative;
    box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-bar{
    height: 72px;
    background-color: $background-dark;

    .ui.grid{
        margin: 0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    // El operador '&' lo que hace es seguir con la clase padre osea
    // & = .top-bar y seria en este caso: "&__left == .top-bar__left"
    &__left{
        display: flex !important;
        align-items: center;

        img{
            height: 40px;
            transition: all 0.5s;

            &:hover{
                transform: translateX(-15px);
            }
        }
    }
}


